.body {
  width: 100%;
  margin: 0 auto;
  padding: 0;
  background-color: white;
}

h4 {
  color: var(--text, #5e4a1f);
  font-family: "Inter", sans-serif;
  line-height: 2rem;
}

.filter_label {
  color: var(--text, #5e4a1f);
  font-family: "Inter", sans-serif;
  line-height: 2rem;
}

.title {
  height: 2.5rem;
}

.dropdown {
  width: 250px;
  height: 2rem;
  flex-shrink: 0;
  border-radius: 10px;
  border: 1px solid var(--grey, rgba(119, 108, 84, 0.1));
  background: #fff;
  box-shadow: 6px 6px 100px 0px rgba(200, 188, 176, 0.4),
    2px 2px 2px 0px rgba(220, 181, 141, 0.1);
  margin: 0rem 0rem 0rem 0.5rem;
}
